*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Futura";
    src: url("Futura-Med.ttf");
}

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

#header{
    width: 100%;
    overflow: hidden;
}

#header a{
    color: #fff;
    font-size: 
}

.mainvisual{
    width: 100%;
    height: 672px;
    background-size: cover;
    top: 0;
    left: 0;
    margin: 0;
    border-style: none;
    overflow: hidden;
}

nav{
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: "Futura";
    font-size: 20pt;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

nav a{
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: "Futura";
    font-size: 20pt;
}

nav a:hover{
    color:#3d5cdb !important;
}

#header ul li{
    list-style-type: none;
    float: left;
    color: #fff;
}

ul{
    overflow: hidden;
    margin: 0px 50px;
}

inframe{
    margin: 0 auto;
}

body{
    font-family: "Futura", "Hirago KakuGothic Pro", sans-serif;
    font-feature-settings: "palt" 1;
}

#introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 
    overflow: hidden;
}

#introduction2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 
}

#introduction img{
    width: 500px;
    object-fit: contain;
    float: left;
}

#introduction2 img{
    width: 500px;
    object-fit: contain;
    float: left;
}

.rightbox p{
    display: block;
    float: left;
    width: 400px;
    margin: 35px auto 20px;
    font-family: "Hirago KakuGothic Pro", sans-serif;
}

.leftbox p{
    display: block;
    width: 400px;
    margin: 35px auto 20px;
    font-family: "Hirago KakuGothic Pro", sans-serif;
}

section{
    width: 100%;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 40px;
    color: #3d5cdb;
}

.wrapper{
    display: block;
}

footer{
    color: #3d5cdb;
    text-align: center;
    font-size: 16px; 
    height: 60px;
    line-height: 60px;
    font-family: "Futura";
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img{
    width: 900px;
    margin: auto;
}

.logo p{
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-family: "Futura";
    font-style: italic;
}

#courses{
    background-color: #bad5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

#courses img{
    width: 100px;
    margin: auto;
    object-fit: contain;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.courseimg{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.coursebox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 1200px;
}

.whitebox{
    width: 180px;
    height: 280px;
    background-color: #ffffff;
    margin: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px #eeeeee;
}

.whitebox h3{
    font-size: 11pt;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    color: #183c61;
    display: block;
    font-family: "Hirago KakuGothic Pro", sans-serif;
}

.whitebox a{
    display: block;
    margin: 15px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}

/*
.whitebox img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
*/

#html a{
    background-color: #f16529;
}

#css a{
    background-color: #29a9df;
}

#unity a{
    background-color: #333333;
}

#ruby a{
    background-color: #ff5252;
}

#js a{
    background-color: #fed700;
}

#swift a{
    background-color: #fe7536;
}

#go a{
    background-color: #73cede;
}

#access{
    align-items: center;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightbox a{
    padding: 8px 32px;
    background: #3d5cdb; 
    color: #fff;
    border: 1px solid #3d5cdb;
    border-radius: 12px;
    text-decoration: none;
    display: block;
    margin: 30px auto;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.leftbox a{
    padding: 8px 32px;
    background: #ffbf00; 
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    display: block;
    margin: 30px auto;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.button a:hover{
    box-shadow: 3px 3px 3px #eeeeee;
}

.rightbox{
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.leftbox{
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bx-wrapper{
    width: 300px;
    margin: 0 auto;
}

#images  img{
    width: 290px;
    float: left;
    display: block;
    text-align: center;
}

.slick-box{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.slick-prev{
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next{
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

button{
    color: #333333;
}

#particles{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}